<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
      #action{
        position: fixed;
        right: 2em;
        top: 2em;
      }
    </style>
  </head>
  <body>
    <div id="action">
      <button onclick="stop()">停止</button>
      <button onclick="restart()">继续</button>
      <div class="log">

      </div>
    </div>
    <div id="torrent"></div>
  </body>
  <script src="//cdn.bootcss.com/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
  <script>
    var flag=true;
    function stop() {
      flag=false;
    }
    function restart() {
      flag=true;
    }
    var socket = io('/');
    socket.on('metadata', function (metadata) {
      if(flag)$("#torrent").append("<p data-magnet='"+metadata.magnet+"'>"+metadata.name+"<p>");
    });

    var client = new WebTorrent();
    document.getElementById("torrent").addEventListener("click",function(e) {
      alert($(e.target).attr("data-magnet"));
    })


  </script>
</html>
